@charset "UTF-8";

.wrapper {max-width:1024px;width:100%;height:100vh;margin:0 auto;background:var(--c_bg_gray_m)}
.wrapper > .layout {position:relative;display:flex;flex-direction:column;gap:10px;height:100%;padding:0 30px;}

/* header */
header {position:relative;display:flex;color:#fff;border-radius:0 0 16px 16px;overflow:hidden;background:var(--c_primary);}
header h2{padding:39px 28px;background:var(--c_primary_m);}
header h2 span{display:block;width:118px;height:32px;font-size:0;background:url(/images/common/tit_q1.svg) no-repeat;}
header .titwrap{display:flex;flex-direction:column;justify-content:center;gap:8px;padding:26px;}
header .titwrap h3{display:flex;align-items:center;gap:4px;font-size:20px;font-weight:800;}
header .titwrap h3 em{padding:6px;font-size:14px;border-radius:4px;border: 1px solid var(--c_white_p60);font-weight:800;line-height:1;}
header .titwrap p{font-size:12px;font-weight:300;}
header .titwrap .q_info{position:absolute;right:28px;display:flex;align-items:center;gap:4px}
header .titwrap .q_info span{display:flex;padding:8px 12px;align-items: center;gap:4px;border-radius:8px;border:2px solid var(--c_white_p40);color:var(--c_white_p40);font-size:14px;line-height:20px;}
header .titwrap .q_info span.time{color:#fff;}
header .titwrap .q_info span.time i{display:block;width:20px;height:20px;background:url(/images/common/ico_clock.svg) no-repeat;}
header .titwrap .q_info span.count em{color:#fff;}

/* footer */
footer {position:relative;display:flex;}
footer .relOrg-wrap {position: relative;}
footer .relOrg-list {display: none;position: absolute;bottom: 65px;right: 0;width: 100%;background: #fff;z-index: 10;border: 1px solid #aaa;border-width: 0 1px;}
footer .relOrg-list li {position: relative;border-top: 1px solid #aaa;}
footer .relOrg-list li a {display: block;width: 100%;height: 100%;padding: 8px;color: #333;font-size: 15px;font-weight: 400;}
#relOrgSelect {position: relative;width: 100%;color: #fff;border: 1px solid #fff;margin-bottom: 16px;padding:14px 20px;text-align: left;font-family:var(--f_prd);cursor: pointer;}
#relOrgSelect::before {content: '';position: absolute;top: 22px;right:24px;width:8px;height:8px;border:1px solid #fff;border-width:1px 1px 0 0;transform: rotate(-45deg);}



/* content */
.wrapper > .layout > section {display:flex;flex-direction:column;width:100%;height:100%;}
